.App {
  background-color: #c89a90;
  height: 100vh;
  width: 100vw;
}
.Country {
  color: black;
}

.GlobalData {
  min-height: 90vh;
}

#link {
  color: #a10202;
  font-weight: bold;
}

#link:hover {
  color: white;
}
